<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main_page_styles.css">
    <script src="../js/index.js" defer></script>
    <title>Document</title>
</head>
<body>


    <nav>
        <ul>
            <li>Home</li>
            <li>News</li>
            <li>Videos</li>
            <li>Forum</li>
            <li>Interestiung</li>
            <li>More</li>
            <li>More</li>
            <li>More</li>
        </ul>
    </nav>

<!-- <di"></div> -->
<img class="slide_menu_btn" src="https://www.family-english.ru/burg.png" alt="" >
<div class="slide_menu">
    <ul class="slide_menu_ul">
        <li class="slide_menu_ul_li">Home</li>
        <li class="slide_menu_ul_li">News</li>
        <li class="slide_menu_ul_li">Videos</li>
        <li class="slide_menu_ul_li">Forum</li>
        <li class="slide_menu_ul_li">Interestiung</li>
        <li class="slide_menu_ul_li">More</li>
        <li class="slide_menu_ul_li">More</li>
        <li class="slide_menu_ul_li">More</li>
    </ul>
</div>


    <div class="main_container">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis magnam adipisci labore consequuntur! Dolorum eveniet minima, similique expedita necessitatibus illo quasi doloremque cum eligendi non natus. Molestiae sequi tempora amet.
    </div>
</body>
</html>